<footer>
    <h2>This is a Footer</h2>
    <p>&#169; 2023. All rights reserved</p>
</footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
    duration: 1000
  });
</script>
</body>
</html>