<%- include('partials/header'); %> 
<link rel="stylesheet" href="about-contact.css">
    
<div class="contact container">
    <h1>Contact</h1>
    <div class="container">
        <a href=""><img src="instagram.png" alt="insta-icon" title="link-disabled"></a>
        <a href="https://www.linkedin.com/in/tejas-patne-80a018239/"><img src="linkedin.png" alt="linkedin-icon"></a>
    </div>
</div>

<%- include('partials/footer'); %> 