<%- include('partials/header'); %>

    <div class="first-container">
        <h1 class="main-heading">
            Welcome
            <% if(userName!==null){ %>
                <%= userName %>
            <% } %>
            to AiGyan
        </h1>
        <h2 class="sub-heading">This is a Web Design workshop</h2>
    </div>
    <!-- <div class="first-container-content">
        <div data-aos="fade-up-right" class="box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
        <div data-aos="fade-up-left" class="box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
    </div> -->
    <div class="second-container">
        <div data-aos="fade-right" class="box second-box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos
                est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni
                perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
        <div data-aos="fade-left" class="box first-box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos
                est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni
                perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
    </div>
    <div class="third-container">
        <div data-aos="fade-right" class="box second-box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos
                est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni
                perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
        <div data-aos="fade-left" class="box first-box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos
                est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni
                perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
    </div>
    <div class="forth-container">
        <div data-aos="zoom-in" class="box second-box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos
                est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni
                perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
        <div data-aos="zoom-out" class="box first-box">
            <h1>This is main container</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cumque beatae fugiat porro, fuga eos
                est, fugit cum odit maxime laboriosam similique facilis maiores eligendi iusto velit ad dolore magni
                perferendis iste sapiente. Tempore dicta rerum cum explicabo odit alias ab, adipisci.</p>
        </div>
    </div>

    <%- include('partials/footer'); %>