<link rel="stylesheet" href="sign.css">    
<%- include('partials/header'); %> 

<div class="register container">
    <h1>Register</h1>
    <form action="" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="eg.alanwalker">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="****">
        </div>
        <div>
            <label for="password+">Confirm Password</label>
            <input type="password" id="password+" name="password+" placeholder="****">
        </div>
        <button type="submit">login</button>
    </form>
</div>
<%- include('partials/footer'); %> 